{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Home</h1>
<link rel="stylesheet" type="text/css" href="/css/datepicker.css">
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
  $('.datepicker').datepicker()
</script>

<form method="POST">
  <div>
    <label for="tanggal">Tanggal</label>
  </div>
  <div class="tanggal">
    <input type="date" name="tanggal" required>
  </div>
  <br>
  <div>
    <label for="jam">Jam Mulai</label>
  </div>
  <select type ="jam" class="jam" name="jam">
    <option value="07:00">07:00</option>
    <option value="07:50">07:50</option>
    <option value="08:40">08:40</option>
    <option value="09:30">09:30</option>
    <option value="10:20">10:20</option>
    <option value="11:10">11:10</option>
    <option value="13:00">13:00</option>
    <option value="13:50">13:50</option>
    <option value="14:40">14:40</option>
    <option value="15:30">15:30</option>
    <option value="16:20">16:20</option>
    <option value="17:10">17:10</option>
  </select>
  <br>
  <br>
  <div>
    <label for="durasi">Durasi (Dalam SKS)</label>
  </div>
  <select type="durasi" class="durasi" name="durasi">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
  <br>
  <br>
  <div align="center">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
{% endblock %}
